<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>YelpCamp</title>
</head>

<body>
    <div class="ui grid container">
        <div class="ui secondary menu row">
            <a class="item" href="/campgrounds">
                YelpCamp
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
                <% if(!currentUser) { %>
                <a class="item" href="/login">
                    Login
                </a>
                <a class="item active" href="/register">
                    Sign Up
                </a>
                <% } else { %>
                <a class="ui item" href="/logout">
                    Logout
                </a>
                <% } %>
            </div>
        </div>

        <div class="ui grid container">
            <% if(error && error.length > 0) { %>
            <div class="row">
                <div class="ui floating warning message six column wide" id="alert" role="alert">
                    <%= error %>
                </div>
            </div>
            <% } %>
            <% if(success && success.length > 0) { %>
            <div class="row">
                <div class="ui floating success message six column wide" id="alert" role="alert">
                    <%= success %>
                </div>
            </div>
            <% } %>