.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* user/show : campground display */
div.ui.stackable.cards.grid a {
    height: 350px;
}

div.ui.raised.link.card {
    height: 325px;
}

div.ui.raised.link.card div.header {
    display: inline;
}

div.ui.raised.link.card div.image {
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
}

div.ui.raised.link.card img.ui.image {
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
}


.invisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%
}